body {
    font-family: Roboto;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header {
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.right-header {
    display: flex;
    gap: 10px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 200px 50px 200px;
}

.left-header {
    font-size: 24px;
    color: #F9FAF8
}

.right-header {
    align-items: center;
}

#hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.intro {
    display: flex;
    justify-content: space-between;
}

#hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 8px;
}

#hero-img {
    width: 500px;
    height: 250px;
}

button {
    color: #E5E7EB;
    font-size: 18px;
    padding: 5px;
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
}

#info-img {
    width: 125px;
    height: 125px;
    border-radius: 8px;
    border-width: 5px;
    border-style: solid;
    border-color: #3882F6;
}

.info-body{
    display: flex;

    justify-content: center;
    gap: 50px;
}


.info-header{
    margin-bottom: 30px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.info-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
}

.info-subtext {
    text-align: center;
    color: rgb(102, 99, 99);
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 250px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    weight: 300;
    font-style: italic;
}

.quote-attribution {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}